---
title: Finish
layout: landing
baseurl: '/'
targetx_form: true
description: ''
include_eurostile_font: true
icon_section_heading: Why Choose KCC?
testimonials_heading: What Our Students Say
testimonials:
  - portrait: /uploads/jordan-camera2.jpg
    portrait_alt_text:
    quote: >-
      I firmly believe that KCC is the best educational option in Kankakee County. The education and career guidance I
      received in my short time there was instrumental in my success. I wouldn't be where I am today without Kankakee
      Community College.
    name: Jordan Arseneau
    year: Class of 2002
  - portrait: /uploads/kriston-love.jpg
    portrait_alt_text:
    quote: >-
      I definitely enjoyed all of my time here. I was able to work part time and still go to class. And I was still involved
      in clubs. So I got to hang out with my friends. Professors will definitely help get you on the right track. I would not
      have gone to any other school.
    name: Kriston Love
    year: Class of 2016
---

{% include header.html %}
  {% include benefits.html %}
  {% include bottom-action-call.html %}
